apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: loki-stack-ingress
spec:
  rules:
  - host: "prometheus.{{ domain }}"
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: loki-stack-prometheus-server
            port:
              number: 80
  - host: "grafana.{{ domain }}"
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: loki-stack-grafana
            port:
              number: 80
